In [1]:
import pandas as pd

In [7]:
df  = pd.read_csv('./emotions_prepare.csv')

In [8]:
df.shape

(1, 2306)

In [9]:
df

,150,150.1,150.2,150.3,150.4,150.5,150.6,150.7,150.8,150.9,...,150.327,150.328,150.329,150.330,150.331,150.332,150.333,150.334,6,Unnamed: 2305
0,150,150,150,150,150,150,150,150,150,150,...,124,125,126,129,130,132,132,145,0,NaN